This file is created with Ansible {{ ansible_version.full }}

Running on host {{ ansible_host }}

This host is {{ ansible_facts['hostname'] }} with ip {{ ansible_facts['default_ipv4']['address'] }}

The variable color is {{ color }}